{
    "presets": ["next/babel"],
    "plugins": [
      ["styled-components", { "ssr": true }],
      "@babel/plugin-transform-class-properties",
      "@babel/plugin-transform-object-rest-spread"
    ]
  }